<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="teamProject3.qaboard.mapper.BoardDAO" >
 	<select id="selectAll" resultType="board" parameterType="board">
		SELECT  *
		FROM board
		 where board_groupcode = 'pq'
	</select>
	<select id="commntSelectAll" resultType="board" parameterType="board">
		select c.post_no as board_no, c.member_id,max(c.comment_no) from boardcomment c,board b where  b.board_no = c.post_no and b.BOARD_GROUPCODE='pq' group by c.post_no,c.member_id 
	</select>
 </mapper>