<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="teamProject3.member.mapper.MemberDAO" >
 	<select id="selectAll" resultType="member" parameterType="member">
		SELECT  *
		FROM member
	</select>
	<delete id="delete" parameterType="member">
		delete member where member_id= #{member_id}
	</delete>
	<update id="update" parameterType="member">
		update member set member_mileage = #{member_mileage}
		where member_id = #{member_id}
	
	</update>
 </mapper>