<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="teamProject3.order.mapper.OrderDAO" >
 	<select id="dailySales" resultType="order" parameterType="order">
	select TO_CHAR(order_date) as order_date, sum(order_total) as order_total 
	from orderList 
	group by TO_CHAR(order_date) 
	having TO_CHAR(order_date) between sysdate - (interval '7' day) and sysdate  
	order by TO_CHAR(order_date)

	</select>
	<select id="getOrderoutput" resultType="order" parameterType="order">
	select m.seller_code ,m.member_id, m.member_tel, m.member_email,sum(o.order_total) as order_total
from member m, orderlist o 
where m.seller_code = o.seller_code  and m.seller_code is not null 
group by m.seller_code ,m.member_id, m.member_tel, m.member_email
	</select>
	<insert id="insertChat" parameterType="order">
	insert into chat values(chat_seq.nextval,#{member_id},#{member_name})
	</insert>
	<select id="selectChat" resultType="order">
	select  member_id,chat_content as member_name from chat order by chat_number
	</select>
	
 </mapper>